{% load static %}

<section id="cta" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">           
                <div class="cta-text">
                    <h4>Aproveite 30 dias de teste gratuito</h4>
                    <p>
                        Explore nossos serviços sem compromisso.</br> 
                        Apresentamos uma proposta irresistível, onde a qualidade excepcional, 
                        atenção aos detalhes e facilidade de uso são a essência da nossa oferta. 
                        Desfrute de uma experiência gratificante, pois estamos comprometidos em proporcionar o melhor, 
                        com sua satisfação como nossa prioridade.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
                </br><a href="#" class="btn btn-common">Registre-se agora</a>
            </div>
        </div>
    </div>
</section>
