{% load static %}

<section id="testimonial" class="testimonial section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">

                    {% for feedback in feedbacks %}
                        {% if forloop.counter0|divisibleby:4 %}
                            <div class="item">
                        {% endif %}
                        
                        <div class="testimonial-item">
                            <div class="img-thumb">
                                <img src="{{ feedback.imagem.thumb.url }}" alt="{{ feedback.nome }}">
                            </div>
                            <div class="info">
                                <h2>
                                    <a href="#">{{ feedback.nome }}</a>
                                </h2>
                                <h3>
                                    <a href="#">{{ feedback.profissao }}</a>
                                </h3>
                            </div>
                            <div class="content">
                                <p class="description">{{ feedback.feedbacks }}</p>
                                <div class="star-icon mt-3">
                                    <span>
                                        <i class="{{ feedback.icone }}"></i>
                                    </span>
                                    <span>
                                        <i class="{{feedback.icone}}"></i>
                                    </span>
                                    <span>
                                        <i class="{{feedback.icone}}"></i>
                                    </span>
                                    <span>
                                        <i class="{{feedback.icone}}"></i>
                                    </span>
                                    <span>
                                        <i class="{{feedback.icone}}"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        {% if forloop.last or forloop.counter0|divisibleby:4 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
