{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Início da Área Principal -->
        {% include 'hero.html' %}

    <!-- Seção de serviços -->
        {% include 'servicos.html' %}

    <!-- Seção Sobre -->
        {% include 'sobre.html' %}

    <!-- Seção de funcionalidades -->
        {% include 'funcionalidades.html' %}

    <!-- Seção de equipe -->
        {% include 'equipe.html' %}

    <!-- Seção de preço --> 
        {% include 'preco.html' %}

    <!-- Seção de feedbacks -->
        {% include 'clientes.html' %}

    <!-- Seção de chamada -->
        {% include 'chamada.html' %}

    <!-- Seção de contato -->
        {% include 'contato.html'%}

    <!-- Seção de rodapé -->
        {% include 'rodape.html' %}

{% endblock %}